// welcome content
.welcome-content {
    position: relative;

    .carousel {
        .carousel-caption {
            top: 50%;
            right: auto;
            bottom: auto;
            max-width: 40%;
            text-align: left;
            transform: translateY(-50%);

            h2, h5 {
                text-transform: uppercase;
            }

            h2 {
                line-height: .8;
                font-size: 6em;
            }

            h5 {
                font-size: 2em;
                line-height: 1;
                margin-bottom: .8em;
            }

            @media (max-width: 991px) {
                left: 0;
                right: 0;
                top: auto;
                bottom: 24px;
                padding: 1em;
                margin: auto;
                max-width: 90%;
                transform: none;
                text-align: center;               

                h2 {
                    font-size: 2em;
                }

                h5 {
                    font-size: 1.5em;
                    line-height: 16px;
                    margin-bottom: 16px;
                }

                .btn {
                    font-size: .8em;
                    margin-top: 1em;
                }
            }

            @media (min-width: 992px) and (max-width: 1200px) {
                h2 {
                    font-size: 3em;
                }
            }
        }

        img {
            transform: scale(1);
            -ms-filter: brightness(50%) grayscale(100%);
            -moz-filter: brightness(50%) grayscale(100%);
            -webkit-filter: brightness(50%) grayscale(100%);
        }

        [class^="carousel-control"] {
            top: auto;
            right: 10em;
            left: auto;
            bottom: 3em;
            width: 30px;
            height: 30px;
            padding: 20px;
            border-radius: 50%;
            background-color: $color-grey-light;

            &.carousel-control-prev {
                right: 13em;
            }
            &.carousel-control-prev .carousel-control-prev-icon {
                background-size: 20px;
                background-image: url(./../../assets/images/chevron-left.svg);
            }
            &.carousel-control-next .carousel-control-next-icon {
                background-size: 20px;
                background-image: url(./../../assets/images/chevron-right.svg);
            }
            
            @media (max-width: 991px) {
                &.carousel-control-prev, 
                &.carousel-control-next {
                    top: 50%;
                    transform: translateY(-50%);
                }

                &.carousel-control-prev{
                    left: 16px;
                }
                &.carousel-control-next {
                    right: 16px;
                }
            }
        }

        @media (max-width: 576px) {
            .carousel-indicators {
                bottom: 0;
            }
    
            .carousel-indicators [data-bs-target] {
                background-color: $color-grey-light;
            }
        }
    }

    .left-content {
        z-index: 9;
        left: 30px;
        font-size: 0.8em;
        position: absolute;
        text-transform: uppercase;
        transform: rotate(-90deg);
        transform-origin: 0 0;
        & , a {
            color: $color-grey-light;
            @media (max-width: 576px) {
                color: $color-black;
            }
        }

        @media (max-width: 576px) {
            left: 0;
            padding: 1em;
            transform: none;
            position: relative;
            text-align: center;
            color: $color-black;
            background-color: $color-grey;
        }
    }

    .list-inline {
        margin-bottom: 0;      
        li + li {
            margin-left: 1.5em;
        }
    }

    .timings {
        bottom: 32%;
        @media (max-width: 991px) {
            display: none;
        }
    }

    .social-links {
        bottom: 2%;
    }
}

// services
.services {
    color: $color-grey-light;
    background-image: url(../../assets/images/pattern-1.png);

    p {
        margin-top: 2em;
        color: $color-grey;
    }
    
    @media (max-width: 576px) {
        .title-main, p {
            text-align: center;
        }

        .title-main {
            margin: auto;
            max-width: 75%;
        }

        p {
            margin-bottom: 2em;
        }
    }
}

// quote
.quote {
    z-index: 1;
    position: relative;
    text-align: center;
    color: $color-grey-light;
    background-attachment: fixed;
    background-color: $color-black-dark;
    background-image: url(./../../assets/images/quote.jpg);

    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        content: '';
        opacity: 55%;
        position: absolute;
        background: $color-black-dark;
    }

    .icon {
        border-radius: 50%;
        padding: 2em 2.2em;
        display: inline-block;
        color: $color-black-dark;
        background-color: $primary;
        
        @media (max-width: 991px) {
            transform: scale(0.7);
        }
    }

    h2 {
        font-size: 5em;
        max-width: 72%;
        line-height: 1;
        @extend .mx-auto;
        margin-top: 40px;
        text-transform: uppercase;

        span {
            color: $primary;
        }
    }

    @media (max-width: 991px) {
        h2 {
            margin-top: 0;
            font-size: 2em;
        }
    }
}

// clientele
.clientele {
    padding: 2em 0;
    .list-inline {
        display: flex;
        margin-bottom: 0;
        justify-content: space-between;

        img {            
           opacity: 40%;

           &:hover {
               opacity: 1;
           }
        }
    }

    @media (max-width: 576px) {
        .list-inline {
            flex-wrap: wrap-reverse;
        }
    }
}