// floating label
.floating-label {
    z-index: 1;
    margin-bottom: 2em;
    position: relative;

    label {
        top: 0.9em;
        left: 1.2em;
        z-index: -1;
        padding: 0 6px;
        position: absolute;
        transition: all .3s ease;
        background-color: $white;
        text-transform: uppercase;
    }
}

// form control
.form-control {
    outline: none;
    padding: .8em 1.2em;
    box-shadow: none !important;
    background-color: transparent;

    &:focus + label {
        z-index: 2;
        top: -10px;
        font-size: 0.9em;
    }
}