// fonts
$font-default       : 'Rubik', sans-serif;
$font-primary       : 'Teko', sans-serif;
$font-secondary     : sans-serif;

// colors
$color-primary              : #F3E816;
$color-primary-dark         : #d0c607;
$color-primary-light        : #E9DE0C;

$color-secondary            : #243742;
$color-secondary-dark       : #162127;
$color-secondary-light      : #618EA8;

$color-info                 : #1D84B5;
$color-info-dark            : #0A2239;
$color-info-light           : #53A2BE;

$color-danger              : #f5533d;
$color-danger-dark         : #981200;
$color-danger-light        : #F9978A;

$color-warning               : #ef3ea8;
$color-warning-dark          : #86004f;
$color-warning-light         : #ffb5e1;

$color-success              : #A3BE4B;
$color-success-dark         : #546d01;
$color-success-light        : #8CA53B;

$color-grey                 : #D7D0C8;
$color-grey-dark            : #585857;
$color-grey-light           : #EDECE8;

$color-black                : #3E3E3C;
$color-black-dark           : #252422;
$color-black-light          : #a7a7a7;